.about-text-area img {
    padding: 75px 0;
    width: 100%;

}

.about-text-area .row {
    align-items: center;
}

.about-text-area .about-text {
    padding: 25px;
}

/* Responsive CSS Start */
@media (max-width: 991px) {
    .about-text h3 {
        font-size: 20px !important;
    }
}