.header img {
    vertical-align: middle;
}
.header .navbar-nav a {
    margin-left: 25px;
}

.header .navbar-nav a:last-child {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    color: #fff;
    text-transform: none;
    min-width: 120px;
    margin-left: 0;
}

/* Responsive Design Start Here */
@media (max-width: 991px) {

    .header .navbar-nav a {
        margin-left: 0;
    }

    .header .navbar-nav a:last-child {
        width: 100%;
        padding-left: 0;
    }
}