.github-button a {
    background-color: #7952b3;
    border: 1px solid #7952b3;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    padding: 8px 16px;
    text-decoration: none;
    transition: .3s;
    margin-top: 15px;
}



.github-button a:hover {
    background-color: transparent;
    border: 1px solid #7952b3;
    color: #7952b3;

}

.github-button img {
    padding-right: 5px;
}